
<div class="hero is-info">
    <div class="hero-body">
        <p class="title">kab add computer</p>
        <p class="subtitle">this form will help you add a new computer</p>
    </div>
</div>

<br>
<form action="/api/computer" method="post">
    <input class="input" type="text" name="hostname" id="hostnameForm" placeholder="Hostname">
    <br><br>
    <input class="input" type="text" name="OS" id="OSForm" placeholder="Operating System">
    <br><br>
    Is it a server? <input type="checkbox" name="isServer" value="true" class="checkbox">
    <br><br>
    Is this a Domain Controller? <input type="checkbox" name="isDC" value="true" class="checkbox">
    <br><br>
    Does it server a database? <input type="checkbox" name="isDB" value="true" class="checkbox">
    <br><br>
    Is it a sharepoint server? <input type="checkbox" name="isSP" value="true" class="checkbox">
    <br><br>
    Is it an exchange server? <input type="checkbox" name="isEx" value="true" class="checkbox">
    <br><br>
    Is this computer virtualized? <input type="checkbox" name="isVM" value="true" class="checkbox">
    <br><br>
    Is this a Global Catalog? <input type="checkbox" name="isGC" value="true" class="checkbox">
    <br><br>
    Is this a Read Only DC? <input type="checkbox" name="isRODC" value="true" class="checkbox">
    <br><br>
    <input class="button is-success" type="submit" value="Add New Computer">
</form>


<br>


<section class="section">
Computer is already added? See it here: <a href="/computer" class="">View Computers</a>
</section>