
<div class="hero is-info">
    <div class="hero-body">
        <p class="title">kab add user</p>
        <p class="subtitle">this form will help you add a new user</p>
    </div>
</div>

<br>
<form action="/api/user" method="post">
    <input class="input" type="text" name="username" id="usernameForm" placeholder="Username">
    <br><br>
    <input class="input" type="text" name="password" id="passwordForm" placeholder="Password">
    <br><br>
    Is this a Domain Admin? <input type="checkbox" name="isDA" value="true" class="checkbox">
    <br><br>
    Is this a Service Account? <input type="checkbox" name="isService" value="true" class="checkbox">
    <br><br>
    <input class="input" type="text" name="SPNs" id="SPNs" placeholder="SPNs splitted by , . for example: SPN1,SPN2,SPN3">
    <br><br>
    <input class="button is-success" type="submit" value="Add New User">
</form>
<br>
<section class="section">
    
User is already added? See it here: <a href="/users" class="">View Users</a>

</section>