
<article class="message is-info">
    <div class="message-body">
        Make sure kab can only receive connections from localhost.
    </div>
  </article>

<div class="hero is-info">
    <div class="hero-body">
        <p class="title">Welcome to kab</p>
        <p class="subtitle">lab password & computer management</a> </p>
    </div>
</div>
<br>
<a href="/whatsthis">Click me for more info on what this tool is.</a>
<br>
<div class="columns">
    <div class="column">
        <div class="section">
            <div class="">
                <p class="title is-4">Getting started</p>
                <a href="">Create your first forest</a><br>
                <a href="">Create your first user</a><br>
                <a href="">Create your first computer</a><br>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="section">
            <div class="">
                <p class="title is-4">Learning</p>
                <a href="">Learn to navigate the UI</a><br>
                <a href="">Learn how to edit a user</a><br>
                <a href="">Learn how to import from LDAP</a><br>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="section">
            <div class="">
                <p class="title is-4">Customising</p>
                <a href="">Change settings</a><br>
                <a href="">Add a password to the app</a><br>
                <a href="">Sync your Active Directory domain</a><br>
            </div>
        </div>
    </div>
</div>