
<div class="hero is-info">
    <div class="hero-body">
        <p class="title">What is kab?</p>
        <p class="subtitle">lab password & computer management</a> </p>
    </div>
</div>
<br>


<section class="section">
    <div class="subtitle is-3">What does this do?</div>

    Kab is a password manager for your lab users and computers<br>
When you got a lab like in vmware with multiple computers, maybe a DC and few clients<br>
you want to keep track of their hostnames and accounts along with their passwords. Most people are gonna do like<br>
text file or spreadsheet which would store passwords and usernames, these are awful choices so I made this little app which uses json as a store for that
</section>
<section class="section">
    <div class="subtitle is-3">How can this help me stay organised?</div>
    <span class="title is-2">Well, would you rather do this:</span><br>
    <img style="height: 200px;" src="https://media.discordapp.net/attachments/765810104296800276/765810179853778994/unknown.png" alt="bad way" srcset="">
    <br><span class="title is-2">Or this:</span><br>
    <img src="https://cdn.discordapp.com/attachments/765810104296800276/765811313884266496/unknown.png" alt="" srcset="">
    <br>
    <img src="https://cdn.discordapp.com/attachments/765810104296800276/765811334989348874/unknown.png" alt="" srcset="">
</section>